<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wlgdo.avatar.service.dao.UserMapper">

    <select id="findUser" resultType="com.wlgdo.avatar.service.model.User">
		select * from user limit 1
	</select>

</mapper>