# Created by .ignore support plugin (hsz.mobi)

/avatar-service/out/
/avatar-service/build/
/avatar-service-dynamic-datasource/out/
/.idea/
.gradle/
avatar-admin/build/
avatar-api/build/
avatar-common/build/
avatar-dynamic-quartz/build/
avatar-dynamic-quartz/logs/

